h2 {  
    //width: 3px * 5 + 5px; // 20px  
    height: 3 * (5px + 5px); // 30px  
    //width: 3px + (6px / 2) * 3; // 12px  
    color:cadetblue;
    text-align: center;
    margin-top: 100px;
}   