// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/_functions.scss";

// 2. Include any default variable overrides here
$body-bg:white;
$font-size-base:1rem;
$primary:#2D405F;

// 3. Include remainder of required Bootstrap stylesheets
@import "../../node_modules/bootstrap/scss/_variables.scss";
@import "../../node_modules/bootstrap/scss/_mixins.scss";
@import "../../node_modules/bootstrap/scss/_utilities.scss";

// 4. Include any optional Bootstrap components as you like
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/_transitions.scss";
body{
    color:$body-color;
    background-color: $body-bg;
    font-family: 'Krub'; 
}

header{
    width: 100%; 
    background-color:#F6F7FF;
    color:$primary;
    padding:0.5rem; 
    font-weight:bold;
    position: sticky; /* Allocates space for the element, but moves it with you when you scroll */
    top: 0;
    z-index:1000;  
}