/* Error: There is no module with the namespace "map".
 *   ,
 * 5 | @debug map.get($font-weights, "medium"); // 500
 *   |        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   sass-maps.scss 5:8  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "map".\a   \2577 \a 5 \2502  @debug map.get($font-weights, "medium"); // 500\d\a   \2502         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   sass-maps.scss 5:8  root stylesheet';
}
